@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25x;
    color: #edf0f1;
    text-decoration: none;
}

.h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25x;
}
.span {
    font-size: 3ex;
}

.img {
    color: #edf0f1;
    background: -webkit-linear-gradient(#1973bc, #7319bc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linkLogo {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25x;
    color: #edf0f1;
    text-decoration: none;
    background: -webkit-linear-gradient(#1973bc, #7319bc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
    border-bottom: #7319bc;
    border-bottom-style: groove;
}

.offseet {
    box-shadow: 0.3em 0.3em 0 0 var(#19bc8b), inset 0.3em 0.3em 0 0 var(#19bc8b);
}

.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}
.close:hover,
.close:focus {
    box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
.raise2:hover,
.raise2:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
.up:hover,
.up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover,
.offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
    --color: #a972cb;
    --hover: #cb72aa;
}

.pulse {
    --color: #ef6eae;
    --hover: #ef8f6e;
}

.close {
    --color: #ff7f82;
    --hover: #ffdc7f;
}
.raise2 {
    --color: #6c32c7;
    --hover: #1973bc;
}
.raise {
    --color: #6c32c7;
    --hover: #19bc70;
}
.up {
    --color: #e4cb58;
    --hover: #94e458;
}

.slide {
    --color: #8fc866;
    --hover: #66c887;
}

.offset {
    --color: #19bc8b;
    --hover: #1973bc;
}

button {
    color: var(--color);
    transition: 0.25s;
}
button:hover,
button:focus {
    border-color: var(--hover);
    color: #fff;
}

button {
    background: none;
    border: 2px solid;
    border-radius: 10px;
    font: inherit;
    line-height: 0;
    margin: 0.5em;
    padding: 0.8em 1.5em;
}
